In [1]:
import pandas as pd
df1=pd.read_csv('C:\\Users\\kk\\Downloads\\SynthesisData.csv')
df1.head(6)

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,finding,Unnamed: 13,Unnamed: 14
0,1200054,1190923,87275,NaN,30/05/2109,30/05/2109 7:48,NaN,Radiology,CT HEAD W/O CONTRAST,NaN,NaN,[**2109-5-30**] 7:48 AM\nCT HEAD W/O CONTRAST ...,True,NaN,NaN
1,839412,840567,9539,NaN,16/10/2168,16/10/2168 16:12,NaN,Radiology,"L FOOT AP,LAT & OBL LEFT",NaN,NaN,"[**2168-10-16**] 4:12 PM\nFOOT AP,LAT & OBL LE...",True,NaN,NaN
2,1231258,1229811,83532,180932.0,26/02/2120,26/02/2120 15:52,NaN,Radiology,PICC W/O PORT,NaN,NaN,[**2120-2-26**] 3:52 PM\nPICC LINE PLACMENT SC...,True,NaN,NaN
3,1175533,1188099,56484,NaN,09/04/2166,09/04/2166 16:45,NaN,Radiology,MR HEAD W & W/O CONTRAST,NaN,NaN,[**2166-4-9**] 4:45 PM\nMR HEAD W & W/O CONTRA...,True,NaN,NaN
4,801882,814407,19382,123726.0,28/02/2127,28/02/2127 22:09,NaN,Radiology,T-SPINE,NaN,NaN,[**2127-2-28**] 10:09 PM\nT-SPINE; L-SPINE (AP...,True,NaN,NaN
5,928402,936113,25364,148638.0,22/10/2178,22/10/2178 5:55,NaN,Radiology,CT CHEST W/O CONTRAST,NaN,NaN,[**2178-10-22**] 5:55 AM\nCT CHEST W/O CONTRAS...,True,NaN,NaN

In [2]:
df1[df1['CATEGORY']=='Radiology']
list1=df1['CATEGORY'].unique()
for i in list1:
    x1=df1[df1['CATEGORY']==i]
    x1.to_csv(f'C:\\Users\\kk\\OneDrive\\Desktop\\{i}.csv')

In [3]:
df1['CATEGORY'].unique()

array(['Radiology', 'Echo', 'Discharge summary', 'Physician'],
      dtype=object)

In [4]:
df1[df1['finding']==True].shape

(3000, 15)

Data Preprocessing

In [ ]:
df2=pd.DataFrame(data=list(df1['TEXT']))
df2.rename(columns={0:'TEXT'},inplace=True)
pd.set_option('display.max_colwidth',60)
df2[:5]

In [6]:
pd.set_option('display.max_colwidth', -1)

C:\Users\kk\AppData\Local\Temp/ipykernel_12840/3652881321.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

GETTING HEADINGS AND TEXTS

In [7]:
import regex as re
def list_elements():
    list1=[]
    for i in range(len(df2['TEXT'])):
        x1=df2['TEXT'][i]
        list1.append(x1)
    return list1
def get_headings(list1):
    extra_list=[]
    for i in range(len(list1)):
        x1=list1[i]
        x1=x1.replace('\n',' ')
        new=re.findall(r'[A-Za-z]+:',x1)
        extra_list.append(new)
    list04=[x1.lower() for x2 in extra_list for x1 in x2]
    final_head=set(list04)
    final_head=list(final_head)
    return final_head
new_list=list_elements()
headings=get_headings(new_list)

Check if heading is present in heading list

In [8]:
len(headings)

980

In [9]:
if 'artery:' in headings:
    print(headings.index('artery:'))

799

Check if list03 is present in your headings
This is that headings which came into play while separating

In [ ]:
list03=['bri:','mri:']
for value,x in enumerate(list03):
    if x in headings:
        print('True',value)
    else:
        print('False',value)
        print(x)

In [11]:
pd.set_option('display.max_colwidth',50)

In [12]:
x1=pd.DataFrame(data=[*range(0,3000)])
df3=pd.concat([df2,x1],axis=1,join='outer')
pd.set_option('display.max_colwidth',50)
df3.rename(columns={'TEXT':'Text',0:'Original_position'},inplace=True)

In [13]:
def prepare_text_data(x):
    x=x.replace('\n',' ')
    x=x.lower()
    return x
df3['cleared']=df3['Text'].apply(prepare_text_data)

getting reports having multiple findings and impression

In [14]:
def findings_length():
    list2=[]
    regex1=r'findings:'
    for c,i in enumerate(df3['cleared']):
        x1=re.findall(regex1,i)
        if len(x1)>=2: 
            list2.append([c,len(x1)])
    print(len(list2))
    print(len(df3['cleared']))
    return list2
def impression_length():
    list2=[]
    regex1=r'impression:'
    for c,i in enumerate(df3['cleared']):
        x1=re.findall(regex1,i)
        if len(x1)>=2: 
            list2.append([c,len(x1)])
    print(len(list2))
    print(len(df3['cleared']))
    return list2
length_double_findings=findings_length()
length_double_impression=impression_length()

69
3000
101
3000

In [ ]:
print(df3['Text'][14])

In [16]:
findings_length_index=[i[0] for i in length_double_findings]
impression_length_index=[i[0] for i in length_double_impression]

In [17]:
final_double_list=findings_length_index.copy()
final_double_list.extend(impression_length_index)
final_double_list_new=list(set(final_double_list))
print(len(final_double_list),len(final_double_list_new))

170 128

In [ ]:
print(findings_length_index)
print(impression_length_index)

In [ ]:
result=list(set(findings_length_index).intersection(impression_length_index))
result.sort()
print(result)

In [20]:
df4=df3.copy()
df4.drop(labels=final_double_list_new,inplace=True,axis=0)

In [21]:
def seperation(one_string):
    for x in re.finditer(r'findings:',one_string):
        return ((x.start(), x.end()))
df4['fidning_list_Position']=df4['cleared'].apply(seperation)

In [22]:
df5=df4.copy()

In [ ]:
df3

In [ ]:
df5.reset_index(inplace=True)
df5.drop(labels='index',axis=1,inplace=True)
df5

In [25]:
df5['Original_position'][433]

448

In [26]:
def get_finding_text(df5):
    list1=[]
    for values,comp in enumerate(df5['cleared']):
        x2=df5['fidning_list_Position'][values][0]
        list1.append(comp[x2+10:])
    return list1
clear_findings=get_finding_text(df5)

In [27]:
new_headings=headings.copy()
#new_headings.extend(list03)
#no use of this line of code here

In [28]:
len(new_headings)

980

In [29]:
list03=['artery:','valve:','aorta:','pericardium:','ventricle:','atrium:','bases:','pelvis:','abdomen:',
        'ct:','left:','right:','contrast:','bri:','chest:','extremity:',
       'esophagus:','mucosa:','stomach:','duodenum:','image:','septum:','cervical:','hip:',
       'thorax:','head:','lungs:','radiography:','cta:','ankle:','knee:','angiogram:',
       'shoulder:','wrist:','views:','side:','noncontrast:','brain:','study:','neck:','brain:',
       'lumen:','perfusion:','torso:','spine:','lumen:','eeg:','mri:','gastrointestinal:',
       'fingers:','lateral:','motion:','include:','interpretation:','protocol:','hips:','knees:',
       'tissues:','mra:','micro:','bleed:','thighs:','ctp:','seen:', 
        'include:','method:','thigh:','changes:','jejunum:','papilla:','cannulation:',
        'doppler:','mra:','pancreas:','port:', 'pa/lat:','musculoskeletal:','follows:','motion:',
         'mediastinum:','windows','bones:','arteriogram:','circulation:']
#motion is added
#bones
#course.. i think so needed to remove that

In [30]:
further_headings_deduct=new_headings.copy()
for i in list03:
    try:
        further_headings_deduct.remove(i)
    except:
        continue

In [31]:
len(clear_findings)

2872

In [32]:
def check_impressions(further_headings_deduct):
    best_list=[]
    list2=[]
    for str_number,data in enumerate(clear_findings):
        str2=data.split(' ')
        if str_number==int(29):
                word='report.'
                list2.append(f'word is Lastword-report, index {str2.index(word)} ,string_number 29')
        for word in str2:
            if word in further_headings_deduct:
                list2.append(f'word is {word}, index {str2.index(word)} ,string_number {str_number}')
                if word=='impression:' or word=='conclusions:' or word=='reason:' or word=='comments:' or word=='diagnosis:' or word=='structures:' :
                    best_list.append(str2.index(word))
                break
    return list2
new_data=check_impressions(further_headings_deduct)

In [33]:
new_data[1].split(' ')[2]

'impression:,'

In [ ]:
new_data[:]

In [35]:
df5.iloc[27]

Text                     [**2166-8-7**] 9:22 AM\nCT CHEST W/CONTRAST Cl...
Original_position                                                       29
cleared                  [**2166-8-7**] 9:22 am ct chest w/contrast cli...
fidning_list_Position                                         (1214, 1223)
Name: 27, dtype: object

In [ ]:
print(df3['Text'][29])

So from here we get the consecutive findings and impression datapoints

In [37]:
crazy_one=[]
for value1 in new_data:
    x3=value1.split(' ')
    value7=x3[2].replace(',','')
    if value7=='impression:':
        crazy_one.append(value7)
print(len(crazy_one))

2307

In [38]:
list01=[]
for i in new_data:
    x1=i.split(' ')
    x2=x1[2]
    x2=x2.replace(',','')
    if x2=='impression:' or x2=='conclusions:' or x2=='reason:' or x2=='comments:'or x1[2]=='structures:' or x2=='diagnosis:' or x2=='include:':
        list01.append(True)

In [39]:
len(list01)

2770

In [ ]:
' '.join(clear_findings[1897].split(' ')[:])
#include: #interpretation: #protocol: #hips: #knees: #tissues: #mra: #micro: #course: #bleed:
#..thighs: # ctp: #seen: #include: #method: #thigh #changes  #jejunum: #papilla: #cannulation:
#doppler: #mra: #pancreas #port: #pa/lat: #musculoskeletal: #follows: 
#946 index (bleed)---> wrong shit going on
#What to do about the problems which do not have any impressions in their dataset--> 1011


# index bone 
#205 a bit out of box impression with quadrant as starting ending heading
# 1004--> examination
#1031--> circulation
#.. 1169--> window
# 1214--> windows
#1394--> windows
#1529--> arteriogram:
#1709--> reveal:
# 1897-->windows ....> out of the box impression
#1944--> bones..> a bit different
#2081..> a very different heading scenario and in this case it is to remove course.
#2316--> doppler examination a different logic used in that scenario
#2387--> bone windows..> actually this brown word has given us qutie hectic
#2411--> another uncertanity in dataset
#2522-->bones
#2521-->windows
#2602--> bones (so there is a chance that bone is a heading that bone can be chance)
#2638--> reports totally ruined report irregular error 2758 original position
#2698--> 2818 this is also report totally distorted form

In [41]:
df5.iloc[1944]

Text                     [**2118-7-26**] 1:06 PM\nCT CHEST W/CONTRAST; ...
Original_position                                                     2024
cleared                  [**2118-7-26**] 1:06 pm ct chest w/contrast; c...
fidning_list_Position                                         (1198, 1207)
Name: 1944, dtype: object

In [42]:
new_data12=new_data.copy()
print(new_data12[433])
new_data[433]='word is reason:, index 317 ,string_number 433'
print(new_data[433])

word is kidneys:, index 93 ,string_number 433
word is reason:, index 317 ,string_number 433

In [43]:
def extract_findings(new_data,clear_findings_data):
    list_data=[]
    other_headings=[]
    get_findings_data=[]
    for i in range(len(new_data)):
        x1=new_data[i].split(' ')
        x3=int(x1[4])
        list_data.append(x3)
    deduct_value=[]
    for i in range(len(list_data)):
        x1=list_data[i]
        other_headings.append(x1-1)
    for index,i in enumerate(clear_findings_data):
        x7=i.split(' ')
        x5=other_headings[index]
        value=' '.join(x7[:x5])
        get_findings_data.append(value)
        #print(x11)
        #get_findings_data.append(x12)
    return get_findings_data
now_findings=extract_findings(new_data,clear_findings)

In [44]:
print(len(headings))
heading1=headings.copy()
heading1.remove('impression:')

980

In [45]:
if 'impression:' in heading1:
    print(True)
print(len(heading1))

979

In [46]:
def extract_impressions(new_data,clear_findings,headings,df5):
    list1=[]
    list2=[]
    dict1={}
    irregular_list=[29,433,844,946,1011,1040,2081,2505,2623,2638,2698]
    #these are the only index in which finding is after the impression
    def clear_impression_separately(df5,value,headings):
        x7=df5['cleared'][value]
        x1=r'impression:'
        for x in re.finditer(x1,x7):
            ans_start,ans_end=x.start(), x.end()
        x8=x7[ans_end+1:]
        return x8
    #get_answer=ans_end
    #print(x[get_answer:])
    #headings=headings.remove('impression:')
    for i in range(len(new_data)):
        x1=int(new_data[i].split(' ')[4])
        list1.append(x1)
    for value,i1 in enumerate(clear_findings):
        if value in irregular_list:
            dict1[value]=clear_impression_separately(df5,value,headings)
        else:
            i10=i1.split(' ')
            x01=list1[value]
            new_list=i10[x01:]
            if new_list[0]=='impression:':
                new_list=new_list[1:]
                dict1[value]=' '.join(new_list) #if we use new_list i10[x01+1:] we get values that begans from impression
            elif new_list[0] != 'impression:':
                for i10 in new_list:
                    if i10=='impression:':
                        x11=new_list.index(i10)
                        dict1[value]=' '.join(new_list[x11+1:])
    #By this point we get text beginning from impression
    return list1,dict1
index_of_headings,dict_impressions=extract_impressions(new_data,clear_findings,heading1,df5)

In [ ]:
list02=list(dict_impressions.values())
df02=pd.DataFrame(data=list02)
df02.rename(columns={0:'impressions'},inplace=True)
df02

In [48]:
def changes_in_impression(x,heading,df02):
    list4=[]
    dict1={}
    extra_list=[]
    for value,x1 in enumerate(x):
        x2=x1.split(' ')
        for x3 in x2:
            if x3 in heading:
                list4.append((value,x2.index(x3)))
                break
    print(len(list4))
    x3=list(df02['impressions'])
    x4=[i[0] for i in list4]
    x5=[i[1] for i in list4]
    dic1 = dict(zip(x4, x5))
    for value,x1 in enumerate(x):
        x2=x1.split(' ')
        if value in x4:
            i3=dic1[value]
            element=' '.join(x2[:i3])
            extra_list.append(element)
        else:
            x03=' '.join(x2)
            extra_list.append(x03)
    #for value,data in enumerate(x3):
        #for 
    return extra_list
cleaned_impressions_afterall=changes_in_impression(list02,heading1,df02)

429

In [ ]:
df03=pd.DataFrame(data=cleaned_impressions_afterall)
df03.rename(columns={0:'Clear impressions'},inplace=True)
finally_impressions=pd.concat([df02,df03],axis=1,join='outer')
finally_impressions.iloc[3]
print(finally_impressions['Clear impressions'][3])
print(finally_impressions['impressions'][3])

In [50]:
#this to check basically the strings you extracted from the clear findings list is worth it?.
listx=[]
for key,value in dict_impressions.items():
                listx.append(key)
print(len(listx))

2872

In [51]:
list_key=[]
for keys in dict_impressions.keys():
    list_key.append(keys)
list98=[*range(0,2872)]
for i in list98:
    if i not in list_key:
        print(i)

In [52]:
print(df5.iloc[433])

Text                     [**2174-4-18**] 12:23 PM\nCTA ABD W&W/O C & RE...
Original_position                                                      448
cleared                  [**2174-4-18**] 12:23 pm cta abd w&w/o c & rec...
fidning_list_Position                                           (745, 754)
Name: 433, dtype: object

In [ ]:
print(df2['TEXT'][448])

In [ ]:
clear_findings[0]

In [55]:
new_data[0].split(' ')[4]

'107'

In [56]:
if 'impression:' in headings:
    print(headings.index('impression:'))

896

In [57]:
f7=pd.DataFrame(data=now_findings)

In [ ]:
df6=df5.copy()
new_dataframe=pd.concat([df6,f7],axis=1)
new_dataframe.rename(columns={0:'Findings_required_cleaning'},inplace=True)
new_dataframe

In [ ]:
new_dataframe['Findings_required_cleaning'][433]

In [ ]:
import random as rnd
def check(x):
    for i in range(x):
        x1=rnd.randint(0,2871)
        print(x1)
        print(new_dataframe['Findings_required_cleaning'][x1])
        print('---------')
check(5)

In [ ]:
new_dataframe_f=new_dataframe.copy()
new_one=pd.concat([new_dataframe_f,finally_impressions],axis=1)
new_one.head()

In [62]:
new_again1=new_one.copy()
new_again1.drop(['Text','cleared','impressions','fidning_list_Position'],axis=1,inplace=True)
#new_again1.to_csv(f'C:\\Users\\kk\\OneDrive\\Desktop\\to_sir_naveed.csv')

#Printing Scenario

In [63]:
'''def print_result(amount):
    for i in range(amount):
        x=rnd.randint(0,2871)
        print(x)
        print('findings')
        print(new_one['Findings_required_cleaning'][x])
        print('---------')
        print('----------')
        print('Cleared Impressions')
        print(new_one['Clear impressions'][x])
        print('========================')
print_result(9)'''

"def print_result(amount):\n    for i in range(amount):\n        x=rnd.randint(0,2871)\n        print(x)\n        print('findings')\n        print(new_one['Findings_required_cleaning'][x])\n        print('---------')\n        print('----------')\n        print('Cleared Impressions')\n        print(new_one['Clear impressions'][x])\n        print('========================')\nprint_result(9)"

Still data extraction is needed but till now we will work on that we have and in future we will improve 
our data further

In [ ]:
new_again1

In [71]:
'''extra_list=[]
for value,i in enumerate(new_again1['Findings_required_cleaning']):
    i2=i.split(' ')
    for x1 in i2:
        if x1=='(over)':
            extra_list.append(value)
#def clean_over_text=
print(extra_list)
print(len(extra_list))'''

"extra_list=[]\nfor value,i in enumerate(new_again1['Findings_required_cleaning']):\n    i2=i.split(' ')\n    for x1 in i2:\n        if x1=='(over)':\n            extra_list.append(value)\n#def clean_over_text=\nprint(extra_list)\nprint(len(extra_list))"

In [ ]:
extra_list1=[]
for value,i in enumerate(new_again1['Clear impressions']):
    i2=i.split(' ')
    for x1 in i2:
        if x1=='(over)':
            extra_list1.append(value)
print(extra_list1)
print(len(extra_list1))

In [ ]:
new_again1['Findings_required_cleaning'][27]

In [ ]:
'''new_again2=new_again1.copy()
def cleaning(str1):
    str2=str1.split(' ')
    for i in str2:
        if i=='(over)':
            print((i,str2.index(i)))
new_again2['Findings_required_cleaning']=new_again2['Findings_required_cleaning'].apply(cleaning)'''
def cleaning(list2,index_list):
        list99=[]
        for value,str_number in enumerate(index_list):
            x1=r'(over)'
            x32=list2[str_number]
            for x in re.finditer(x1,x32):
                value_start,value_end=x.start(),x.end()
                x9=value_start
            list2[str_number]=x32[:x9-1]
        return list2
#xx1=list(new_again1['Findings_required_cleaning'])
findings_almost=cleaning(new_again1['Findings_required_cleaning'],extra_list)

In [ ]:
#now for impressions
impression_almost=cleaning(new_again1['Clear impressions'],extra_list1)

In [76]:
findings_al=findings_almost.copy()

In [77]:
def cleanit(datafr):
    empty_list=[]
    list1=list(datafr)
    for i in list1:
        string1=re.sub(r'\[.*?\]','',i) # elements with square brackets
        string2=re.sub(r'\(.*?\)','',string1)
        empty_list.append(string2)
    return empty_list
findings_just_almost=cleanit(findings_al)
len(findings_just_almost)

2872

In [78]:
impression_just_almost=impression_almost.copy()
impression_just_down=cleanit(impression_just_almost)

In [80]:
position=list(new_again1['Original_position'])

In [81]:
dict99 = {'Original_position': position, 'findings': findings_just_almost,'impressions':impression_just_down}  
Data_reports = pd.DataFrame(dict99)

In [ ]:
Data_reports

In [ ]:
checking=[]
length=[]
lent=[]
for value,i in enumerate(list(Data_reports['impressions'])):
    i1=i.split(' ')
    check_len=len(i1)
    checking.append([value,check_len])
    length.append(check_len)
for value,i in enumerate(length):
    if i<4:
            print(value,True)
            lent.append(value)
print(lent)
length_zero=lent.copy()

In [84]:
length_zero.remove(2026)
length_zero.remove(2423)
print(len(length_zero),len(lent))

18 20

In [92]:
better_list=[]
for i in length_zero:
    better_list.append(Data_reports.iloc[i]['Original_position'])

In [ ]:
better_list

In [ ]:
print(df3['Text'][2658])

In [85]:
Data_reports1=Data_reports.copy()
print(Data_reports1.shape)
Data_reports1.drop(labels=length_zero,axis=0,inplace=True)
print(Data_reports1.shape)

(2872, 3)
(2854, 3)

In [86]:
Data_reports1

,Original_position,findings,impressions
0,0,"there is no acute intracranial hemorrhage, mas...",1. no acute intracranial hemorrhage or mass ef...
1,1,"ap, lateral, and oblique views of the left foo...",comminuted intra-articular fracture proximal p...
2,2,the procedure was explained to the patient. a ...,uncomplicated ultrasound and fluoroscopically ...
3,3,the ventricles and extra-axial spaces are norm...,3-mm lesion within the left cerebellar hemisph...
4,4,"there is no evidence of fracture, dislocation,...",no evidence of fracture or subluxation.
...,...,...,...
2867,2995,"on sagittal images, the c1-t1 vertebral bodies...",1. unchanged nondisplaced skull base fracture....
2868,2996,"following removal of a right-sided chest tube,...",no pneumothorax following tube removal.
2869,2997,cardiac silhouette is markedly widened compare...,1. tiny right apical pneumothorax. 2. enlarged...
2870,2998,left atrium: mild spontaneous echo contrast i...,dense echo contrast and probable thrombus in t...
2871,2999,limited spot flouroscopic images available for...,large stricture in the distal part of common b...

In [ ]:
#Data_reports1.to_csv(f'C:\\Users\\kk\\OneDrive\\Desktop\\Extracted_Data.csv')